# .env.example
VITE_COHERE_API_KEY=
VITE_AGORA_APP_ID=39f712e5cf114fc084d9265e8987bbe6
AGORA_APP_CERTIFICATE=494a1eaabbd9424aa6fb1ef28601a60b
VITE_AGORA_TEMP_TOKEN=007eJxTYHisOem81r1G1b4tCb8ZS6ZOPlv3/8UMozliS5+YTL+SNkVJgcHYMs3c0CjVNDnN0NAkLdnAwiTF0sjMNNXC0sI8KSnVzHPnqsyGQEYGnp4vrIwMEAjmM5RlVhSlpubo5mSWpTIwAAD2UiRm
# Get your Gemini API key from https://aistudio.google.com/app/apikey
GEMINI_API_KEY=your_gemini_api_key_here

# Supabase Configuration
VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# ZegoCloud Configuration
VITE_ZEGO_APP_ID=2090682525
VITE_ZEGO_SERVER_SECRET=4dd6e36982f14192013351508a3cdf3d
VITE_ZEGO_SERVER_URL=wss://webliveroom2090682525-api.coolzcloud.com/ws
